<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Burger Time!!!
      </h1>
      <h2 class="subtitle">
        So many amazing burgers in the future!
      </h2>
    </div>
  </div>
</section>
<section>
  <div class="field has-addons">
    <p class="control">
      <input class="input" id="burger-in" type="text" placeholder="What Burger do you want?">
    </p>
    <p class="control">
      <button id="burg-sub" class="button">
            Submit
      </button>
    </p>
  </div>
</section>
<section>
  <div class="columns">
    <div class="column" id="uneaten">

    </div>
    <div class="column" id="eaten">

    </div>
  </div>
</section>
